@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Orbitron:wght@900&display=swap");

:root {
  --cor1: #05386b;
  --cor2: #379683;
  --cor3: #5cdb95;
  --cor4: #8ee4af;
  --cor5: #edf5e1;
  --cor6: #000000;

  --font1: "Orbitron", sans-serif;
  --font2: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    var(--cor3),
    var(--cor2),
    var(--cor1)
  );
  text-indent: 1em;
}

header {
  height: 150px;
}

header > h1 {
  padding-top: 20px;
  color: var(--cor5);
  text-align: center;
  font-family: var(--font1);
  text-shadow: 3px 4px 0px #00000080;
  font-style: oblique;
  font-size: 2em;
}

nav {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.links-principais {
  color: var(--cor5);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-size: larger;
  padding: 0.7em;
  padding-right: 1.4em;
  margin: 1em;
}

.links-principais:hover {
  background-color: var(--cor5);
  color: #05386b;
  border-radius: 0 1em 0 1em;
  transition-duration: 0.2s;
}

main {
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  box-shadow: 3px 4px 8px 0px #0000007a;
  padding-left: 20px;
  padding-right: 20px;
}

main h1 {
  padding: 10px;
  color: var(--cor1);
  text-align: center;
  font-family: var(--font1);
  font-size: 2em;
}

main h2 {
  text-align: start;
  font-family: var(--font1);
}

h1,
h2 {
  color: var(--cor1);
  padding: 1em 0;
  text-shadow: 3px 2px 0px #00000049;
}

p {
  color: var(--cor6);
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: justify;
  line-height: 1.5;
  font-family: var(--font2);
  font-weight: 600;
}

picture {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  width: 100%;
}

aside {
  padding-bottom: 4em;
}

.video-h3 {
  margin: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.video-ada {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 10px 10px 8px #888;
  max-width: 700px;
  margin: auto;
}

footer {
  background-color: var(--cor6);
  margin: 2em 0 0 0;
}

.link-creditos {
  color: var(--cor6);
  text-decoration: none;
}

.link-creditos:hover {
  text-decoration: underline;
}

.icone {
  display: flex;
  flex-direction: row;
  margin: 3em 2em;
  height: 5vh;
  transition: 0.5s;
}

.icone:hover {
  height: 6vh;
  margin-bottom: 0;
}

.p-footer {
  color: var(--cor5);
  text-align: center;
}

.a-footer {
  color: var(--cor3);
  font-style: oblique;
  text-decoration: none;
}

.a-footer:hover {
  color: var(--cor5);
}
